.post-body .label {
  display: inline;
  padding: 2px 6px;
  white-space: nowrap;
  font-size: 85%;

  &.default { background-color: $label-default; color: #8e8e8e;}
  &.primary { background-color: $label-primary; color: #cb94fd;}
  &.info    { background-color: $label-info; color: #55c8fd;}
  &.success { background-color: $label-success; color: #4CAF50;}
  &.warning { background-color: $label-warning; color: #ffc90a;}
  &.danger  { background-color: $label-danger; color: #fb5e78;}
}
