// Custom styles.
// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

  .post-body p a {
    color: #0593d3;
    border-bottom: none;
    &:hover {
        color: #0477ab;
        text-decoration: underline;
    }
}
//修改 赏 的样式
#rewardButton {
    box-shadow: 0px 0px 5px 0px #f70543;
    border: 1px solid #fb4e4ef2;
    margin-top: 20px;
}

#rewardButton span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 16px;
    background: #d70037;
}

#rewardButton span:hover {
    background: #fd2d62;
    box-shadow: 0px 0px 15px 0px #fd2d62;
}

//修改评论框 border 
#container .wf-form, #container .popup-quotation .quotation-wf .quotation-text {
    border: 1px solid #bbb;
}

#container button.wf-write-btn, 
#container .popup-quotation .quotation-wf-group .quotation-wf-right button.quotation-write-btn, 
#container button.fake-write-btn {
    background: #222222e0;
}

.my_post_copyright {
    margin: 4em 1.5em;
}

@media (min-width: 992px) {
    .full-image.full-image.full-image {
        max-width: none;
        width: 107%;
        margin: 25px -3.5%;
    }
} 