// Custom styles.
// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

  .post-body p a {
    color: #0593d3;
    border-bottom: none;
    &:hover {
        color: #0477ab;
        text-decoration: underline;
    }
}
//修改 赏 的样式
#rewardButton {
    box-shadow: 0px 0px 5px 0px #f70543;
    border: 1px solid #fb4e4ef2;
    margin-top: 20px;
}

#rewardButton span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 16px;
    background: #d70037;
}

#rewardButton span:hover {
    background: #fd2d62;
    box-shadow: 0px 0px 15px 0px #fd2d62;
}

//修改评论框 border 
#container .wf-form, #container .popup-quotation .quotation-wf .quotation-text {
    border: 1px solid #bbb;
}

#container button.wf-write-btn, 
#container .popup-quotation .quotation-wf-group .quotation-wf-right button.quotation-write-btn, 
#container button.fake-write-btn {
    background: #222222e0;
}

.my_post_copyright {
    margin: 4em 1.5em;
}

//修改 tags 
.posts-expand .post-tags a {
    margin: 3px 1px 0;
    border-radius: 2px;
}

//修改 归档 
.posts-collapse .post.post-type-normal {
    box-shadow: 0 0 5px rgba(202, 203, 203, 0);
    webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0);
    -moz-box-shadow: 0 0 5px rgba(202,203,204,0);
}

hr {
    border: none;
    background-color: #ccc;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 2px, transparent 4px, transparent 4px);
}

// pages-end 样式
.line.pages-end {
    height: 1px;
    width: 85%;
    margin-left: 7.5%;
    // border-top: 2px solid #f5f5f5;
    text-align: center;
    margin-top: 50px;
    border: none;
    background-color: #ccc;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 2px, transparent 4px, transparent 4px);
}

.line.pages-end span {
    position: relative;
    top: -16px;
    background: #ffffff;
    padding: 0 15px;
    color: #bbb;
    font-size: 12px;
}

@media screen and (min-width: 1600px) {
    .full-image.full-image.full-image {
        max-width: none;
        width: 107%;
        margin: 25px -3.5%;
    }
} 

@media screen and (min-width: 992px) and (max-width: 1599px) {
    .full-image.full-image.full-image {
        width: 109%;
        margin: 25px -4.4%;
    }
} 
//ipad
@media screen and (min-width: 768px) and (max-width: 991px) {
    .full-image.full-image.full-image {
        max-width: none;
        width: 109%;
        margin: 25px -4.5%;
    }
    .github-corner {
        display: none;    
    }
} 

// iphone 6/7/8..puls
@media screen and (min-width: 414px) and (max-width: 767px) {
    .full-image.full-image.full-image {
        max-width: none;
        width: 117%;
        margin: 25px -8.5%;
    }
    .github-corner {
        display: none;    
    }
    .my_post_copyright {
        margin: 3em 0em;
    }
} 

// iphone 6/7/8
@media screen and (min-width: 375px) and (max-width: 413px) {
    .full-image.full-image.full-image {
        max-width: none;
        width: 120%;
        margin: 25px -10%;
    }
    .github-corner {
        display: none;
    }
    .my_post_copyright {
        margin: 3em 0em;
    }
} 
// iphone 5
@media screen and (max-width: 375px) {
    .full-image.full-image.full-image {
        max-width: none;
        width: 125%;
        margin: 25px -12%;
    }
    .github-corner {
        display: none;
    }
    .my_post_copyright {
        margin: 3em 0em;
    }
} 